@page "/about"

<h3>Acerca de Nosotros</h3>

<p>Bienvenido a la página de Acerca de. Aquí encontrarás información sobre nuestra aplicación.</p>


<MudButton Href="https://github.com/Deshtak"
           Target="_blank"
           Variant="Variant.Text"
           EndIcon="@Icons.Custom.Brands.GitHub"
           Color="Color.Secondary"
           Style="text-transform:none"
>

    GitHub Link
</MudButton>
<MudSpacer/>
